
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-wrapper{
    margin: 0 auto;   
    align-items: center;
    width: 100%;
    min-width: 360px;
    max-width: 1024px;
    padding: 50px 64px 0 50px;
    box-sizing: border-box;
    background-color: lightblue;
}
.main_h{
    padding-bottom: 40px;
    text-align: -webkit-center;
}
.name{    
    margin-bottom: -150px;
}
.name_{
    margin-left: 0 90px 0 -34px;    
    padding: 70px 9px;
    position: relative;
    top: -222px;
    left: 515px;
}
.main{
    margin: 0 auto;
    min-width: 360px;
    max-width: 1024px;
    position: relative;
    width: 100%;
}
.main_foto{
    margin-left: 50px;
    min-width: 360px;
    max-width: 1024px; 
    width: 70%; 
}
.div_fl{
    margin: 44px 0 70px 0px ;
    text-align: -webkit-center;
}
.section{
    margin: 0 44px;
}
ul{
    margin: 0 50px;
}
.article_1 div {
    margin: 0 70px;
}
.yb_bar_img{
    border-radius: 125px;
}
.italic {
    font-style: italic;
}
.yb_login{
    margin-right: 12px;
}
.span_1{
    font-family: 'Open Sans', sans-serif;
    font-style:  italic;
}
.span_2{
    font-family: 'Open Sans', sans-serif;
    background:#FFFFCC;
}
.footer {
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
}
